* {
  margin: 0;
  padding: 0;
  font-family: 'Irish Grover', cursive;
}

body {
  background: url('https://images8.alphacoders.com/292/thumb-1920-292117.jpg');
  background-repeat: no-repeat;
}

#title {
  display: flex;
  justify-content: center;
  margin-top: 75px;
  margin-bottom: 15px;
  font-size: 30px;
}

#searchbar {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  height: 45px;
  width: 375px;
  margin: 0 auto;
  border-radius: 25px;
  padding: 0px 20px;
  cursor: pointer;
}

#searchbar input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  font-size: 20px;
}

::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
#searchbar button img {
  height: 18px;
}
#searchbar button{
  border: 0;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
#card-container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-inline: 120px;
}
#card1, #card2, #card3, #card4 {
  border: 1px solid black;
  border-radius: 15px;
  background-color: white;
  height: 350px;
  width: 275px;
  text-align: center;
  padding: 10px;
}
.finn-img, .jake-img, .marci-img {
  border: 1px solid black;
  border-radius: 50%;
  height: 75px;
}
h2 {
  font-size: 25px;
}
#bio, #status, #shutUpJake {
  margin: 15px;
  height: 40px;
  padding: 5px;
  cursor: pointer;
}

#closeContent1 {
  cursor: pointer;
  margin: 15px;
}

#closeContent1:hover {
  color: rgba(0, 0, 0, 0.5)
}

#closeContent2 {
  cursor: pointer;
  margin: 15px;
}

#closeContent2:hover {
  color: rgba(0, 0, 0, 0.5)
}

#closeContent3 {
  cursor: pointer;
  margin: 15px;
}

#closeContent3:hover {
  color: rgba(0, 0, 0, 0.5)
}


